/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

body {
    font-family: 'Open Sans', sans-serif;
    background: url("../img/backgrounds/body_bg.gif") repeat scroll 0% 0% rgb(239, 232, 211);
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
h1 {
    font-size: 4.5em;
    text-shadow: 1px 1px 0px white;
    margin: 15px 0px 0px;
}
h2 {
    font-size: 2.1em;
    color: #C1272D;
    text-shadow: 1px 1px white;
    border-bottom: 1px dashed rgb(213, 202, 168);
    padding-bottom: 3px;
    text-indent: 20px;
}
a {
    color: #C1272D;
    text-decoration: none;
    transition: 250ms color;
}
a:hover {
    color: rgb(101, 33, 18);
}
ul {
    padding: 0px;
    margin: 0px;
}
input {
    font-family: 'Open Sans', sans-serif;
}
ul > li {
    list-style: none;
    line-height: 2.4em;
    padding-left: 1em;
}
ul > li > .glyphicon {
    font-size: 0.8em;
    color: #aaa;
    margin-right: 7px;

}
strong {
    font-weight: 700;
}



/*******************************************************************************
*
* Header
*
*******************************************************************************/
.ag-header {
    /*background: url("../img/backgrounds/highlight.png") no-repeat scroll center -140px, url("../img/backgrounds/stripes.png") repeat scroll 0% 0% #1D142F;*/
    background: url("../img/backgrounds/highlight.png") no-repeat scroll center -140px, url("../img/backgrounds/space.jpg") repeat scroll 0% 0% #1D142F;
    text-align: center;
    padding: 20px 0px 15px;
}
.ag-header .ag-logo {
    margin-bottom: 10px;
}
.ag-header .ag-tagline {
    font-family: 'Lobster', cursive;
    font-size: 1.55em;
    color: #EBD9B3;
}



/*******************************************************************************
*
* Navbar
*
*******************************************************************************/
.ag-navbar-wrapper {
    padding: 3px 0px 12px;
    background: url("../img/backgrounds/navigation_wrapper.png") repeat-x scroll center bottom #C1272D;
    width: 100%;
}
.ag-navbar-wrapper.affix {
    z-index: 9000;
    top: 0;
    box-shadow: 0px 1px 2px #333;
}
.ag-navbar {
    text-align: center;
    background: url("../img/backgrounds/navigation_bg.png") repeat-x scroll center top rgb(51, 51, 51);
    padding: 12px 0px 6px;
    color: white;
}
.ag-navbar .ag-navbar-text {
    font-weight: 400;
}
.ag-navbar ul {
    display: inline-block;
    font-weight: 600;
    font-size: 1em;
    text-align: center;
    text-transform: uppercase;
    margin: 0px;
}
.ag-navbar ul > li {
    list-style: none outside none;
    float: left;
    margin-right: 2.1em;
}
.ag-navbar ul > li > a {
    color: white;
    text-decoration: none;
    transition: 250ms color;
    padding: 8px;
}
.ag-navbar ul > li > a:hover {
    color: #C1272D;
}
.ag-navbar ul > li > span.glyphicon {
    color: #C1272D;
    font-size: 0.85em;
}



/*******************************************************************************
*
* Search box
*
*******************************************************************************/
.ag-search-group {
    line-height: 100%;
    margin-top: 2px;
}
.ag-search-group > span.ag-search-addon {
    float: left;
    padding: 6px 8px 4px 10px;
    margin: 0px;
    height: 2.1em;
    border: none;
    border-radius: 4px 0px 0px 4px;
    background-color: #BC464A;
    color: white;
}
.ag-search-group > input.ag-search-input {
    float: left;
    width: 22em;
    height: 2.1em;
    margin: 0px;
    padding: 2px 10px;
    border-radius: 0px 4px 4px 0px;
    border-style: none;
    border-left: 1px solid rgb(204,204,204);
    color: #333333;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
.ag-search-group > input.ag-search-input:focus {
    outline: none;
}
.ag-search-group > input.ag-search-input::-webkit-input-placeholder {
    line-height: 130%;
}



/*******************************************************************************
*
* Game main section
*
*******************************************************************************/
.ag-game-main {
    position: relative;
    background-color: #333;
}
.ag-game-main .ag-game-main-image {
    min-height: 115px;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity 200ms;
}
.ag-game-main .ag-game-main-bar {
    width: 100%;
    position: absolute;
    bottom: 0px;
    background-color: rgba(0,0,0,0.75);
    border-top: solid 1px #090909;
    color: white;
    padding: 8px 0px 15px;
}
.ag-game-main .ag-game-main-bar .ag-game-header h1 {
    font-size: 3.4em;
    text-shadow: 1px 1px 0px #222;
    margin: 7px 0px 0px;
}
.ag-game-main .ag-game-main-bar .ag-game-header span {
    text-shadow: 1px 1px 0px #222;
    font-size: 0.8em;
    color: white;
}
.ag-game-main .ag-game-main-bar .ag-game-header a {
    text-shadow: 1px 1px 0px #222;
    color: white;
}



/*******************************************************************************
*
* Game header
*
*******************************************************************************/
.ag-game-header h1 {
    text-transform: uppercase;
    font-size: 4em;
}
.ag-game-header a {
    color: #333;
}
.ag-game-header h1 {
    margin: 20px 0px 0px;
}
.ag-game-header span {
    font-size: 0.8em;
    color: #555;
    margin-right: 1em;
}
.ag-game-header span.glyphicon {
    color: #999;
    font-size: 0.65em;
}



/*******************************************************************************
*
* Game scores
*
*******************************************************************************/
.ag-game-scores .ag-score-box {
    text-align: center;
    float: right;
    min-width: 4.8em;
    margin-left: 0.7em;
    margin-top: 8px;
    padding-bottom: 8px;
    background-color: #333;
    transition: background 500ms;
}
.ag-game-scores a.ag-score-box:hover {
    text-decoration: none;
    box-shadow: 0px -5px 0px white;
}
.ag-game-scores .ag-score-box span {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: white;
    text-shadow: 1px 1px 0px #222;
    line-height: 100%;
    display: block;
}
.ag-game-scores .ag-score-box span.ag-score-points {
    font-size: 3em;
    margin: 0px 0px 10px;
}
.ag-game-scores .ag-score-box span.ag-score-source {
    font-size: 1.1em;
    text-transform: uppercase;
}
.ag-game-scores .ag-score-box.ag-score-altogamer {
    transform: scale(1.15);
    margin-left: 0px;
    margin-right: 5px;
}

.ag-score-box.ag-score-good {
    background-color: #3C753C;
}
.ag-score-box.ag-score-regular {
    background-color: #F7BD00;
}
.ag-score-box.ag-score-bad {
    background-color: #ac2925;
}
.ag-score-box.ag-score-zero {
    background-color: lightgrey;
}



/*******************************************************************************
*
* Review List
*
*******************************************************************************/
.ag-review-list {
    position: relative;
}
.ag-review-list .ag-score-box {
    width: 2em;
    display: inline-block;
    text-align: center;
    margin-right: 0.5em;
    color: white;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-shadow: 1px 1px 0px #222;
    font-size: 1.3em;
    font-weight: 400;
    line-height: 180%;
}
.ag-review-list .ag-review-altogamer {
    font-weight: 600;
}
ul.ag-review-list > li {
    line-height: 2.6em;
}
.ag-release-thumb-container .ag-review-list .ag-score-box {
    font-size: 1.4em;
}



/*******************************************************************************
*
* Content Box
*
*******************************************************************************/
.ag-content-box {
    font-size: 0.95em;
    background: url("../img/backgrounds/diag_line.png") repeat scroll 0% 0%;
    margin: 25px 0px;
    padding: 5px;
    color: #222;
    text-shadow: 1px 1px white;
    border-radius: 3px;
}
.ag-content-box.ag-content-box-info {
    background-color: #8CC5E2;
}
.ag-content-box.ag-content-box-success {
    background-color: #A1C590;
}
.ag-content-box.ag-content-box-warning {
    background-color: #F2DA7C;
}
.ag-content-box.ag-content-box-error {
    background-color: #E6987C;
}
.ag-content-box-canvas {
    padding: 12px 8px;
    background: rgba(255,255,255,0.6);
    border-radius: 2px;
}



/*******************************************************************************
*
* Home
*
*******************************************************************************/
.ag-home {
    text-align: center;
}
.ag-home .ag-search-group {
    display: inline-block;
    margin-top: 2em;
    margin-bottom: 3em;
}
.ag-home .ag-search-group > span.ag-search-addon {
    height: 4.4em;
    border: 1px solid rgb(204,204,204);
    border-right: none;
}
.ag-home .ag-search-group > span.ag-search-addon > .glyphicon {
    margin: 0.7em 0.5em 0em;
    font-size: 1.3em;
}
.ag-home .ag-search-group > .ag-search-input {
    width: 36em;
    height: 3.4em;
    border: 1px solid rgb(204,204,204);
    font-size: 1.3em;
}



/*******************************************************************************
*
* Featured
*
*******************************************************************************/
.ag-featured .ag-review-list {
    margin: 20px 0px;
}
.ag-featured .ag-review-list li {
    padding: 0px;
}
.ag-featured .ag-review-list li a {
    color: #333;
}
.ag-featured .ag-toolbar {
    margin-top: 35px;
}
.ag-featured .ag-toolbar .glyphicon {
    margin-left: 10px;
}

.ag-featured .ag-release .ag-release-thumb {
    height: auto;
}
.ag-featured .ag-featured-data {
    margin-left: 60%;
    border-left: 1px solid #090909;
    background-color: rgba(0,0,0,0.8);
    height: 100%;
    padding: 1em 1em 2em 2em;
}
.ag-featured .ag-featured-data .ag-game-header h1 {
    font-size: 3.5em;
    color: white;
    text-shadow: 1px 1px 0px black;
}
.ag-featured .ag-featured-data .ag-game-header a,
.ag-featured .ag-featured-data .ag-game-header span {
    color: white;
}
.ag-featured .ag-featured-data .ag-review-list .ag-score-box {
    position: relative;
    margin-right: 0.5em;
    font-size: 1.3em;
}
.ag-featured .ag-featured-data .ag-review-list li,
.ag-featured .ag-featured-data .ag-review-list li a {
    color: white;
}


/*******************************************************************************
*
* Section title
*
*******************************************************************************/
.ag-title-section {
    background: url('../img/backgrounds/ribbon-simple.png') repeat-x scroll left top #CC2C08;
    height: 54px;
    margin: 25px 0px 0px 0px;
}
.ag-title-section h2 {
    display: inline-block;
    text-decoration: none;
    color: white;
    text-shadow: none;
    border: none;
    padding: 0px;
    margin: 10px 15px 0px 0px;
    text-shadow: 1px 1px 0px #333;
    text-transform: capitalize;
}
.ag-title-section h3 {
    display: inline-block;
    padding: 0px;
    margin: 0px;
    text-transform: lowercase;
    color: #333;
    font-size: 1.6em;
}



/*******************************************************************************
*
*  Background colors
*
*******************************************************************************/
.ag-maroon { background-color: #CB2C08; }
.ag-ponceau { background-color: #EA2C31; }
.ag-orange { background-color: #DE5224; }
.ag-gamboge { background-color: #E0762E; }
.ag-lemon { background-color: #ECBC4D; }
.ag-olive { background-color: #84A37B; }
.ag-teal { background-color: #008E9C; }
.ag-cerulean { background-color: #007E9D; }
.ag-denim { background-color: #00586F; }
.ag-brown { background-color: #9E5F04; }
.ag-sepia { background-color: #664200; }




/*******************************************************************************
*
* Release
*
*******************************************************************************/
.ag-release {
    margin-top: 25px;
    display: block;
}
.ag-release h1 {
    color: #333333;
    font-size: 1.8em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-top: 0px;
}
.ag-release h1.ag-release-big {
    font-size: 3.4em;
    white-space: normal;
}
.ag-release .ag-release-thumb-container {
    background: url("../img/logo-marca-de-agua.png") no-repeat center, url("../img/backgrounds/spaceship.jpg") center #333333;
}
.ag-release .ag-release-thumb {
    width: 100%;
    height: 200px;
    opacity: 0;
    transition: opacity 300ms;
    position:relative;
}
.ag-release .ag-score-box {
    margin-right:0px;
    position:absolute;
    bottom:0px;
    right:0px
}
.ag-release .ag-release-thumb.ag-release-thumb-big {
    min-height: 400px;
}
.ag-release .ag-release-thumb.ag-release-thumb-small {
    height: 95px;
}


/*******************************************************************************
*
* Ranking
*
*******************************************************************************/
.ag-ranking-navbar {
    text-align: center;
    font-size: 1em;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 25px;
    background: url("../img/backgrounds/navigation_bg.png") repeat-x center top #444;
    padding: 0px 0px 15px 0px;
}
.ag-ranking-navbar a {
    color: white;
    display: inline-block;
    margin: auto;
    padding: 15px 15px 0px 15px;
}



/*******************************************************************************
*
* Bottom
*
*******************************************************************************/
.ag-bottom {
    background: url("../img/backgrounds/stripes.png") center top #222;
    background: url("../img/backgrounds/bottom_widgets.png") top repeat-x,
        url("../img/backgrounds/bottom_widgets.png") bottom repeat-x,
        url("../img/backgrounds/stripes.png") center top #222;
    margin-top: 4em;
    color: white;
    padding: 10px 0px 16px;
}
.ag-bottom h1 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    margin-bottom: 0.5em;
    font-size: 1.65em;
    color: #EAE3CE;
    text-shadow: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.ag-bottom h1 a {
    color: #EAE3CE;
}




/*******************************************************************************
*
* Footer
*
*******************************************************************************/
.ag-footer {
    margin-top: 25px;
    font-style: italic;
    font-size: 0.9em;
    color: white;
    box-shadow: 0px -1px 1px #CCC;
}
.ag-footer a {
    padding: 4px;
}
.ag-footer .ag-copyleft {
    text-align: left;
    margin-top: 5px;
}
.ag-footer .ag-menu {
    text-align: right;
}
.ag-footer .ag-menu ul {
    display: inline-block;
}
.ag-footer .ag-menu ul > li {
    list-style: none outside none;
    float: left;
    margin-right: 1.5em;
}



/*******************************************************************************
*
* Spinner
*
*******************************************************************************/
.ag-spinner {
    text-align: center;
    margin-top: 30px;
}



/*******************************************************************************
*
* Buttons
*
*******************************************************************************/
.ag-button {
    border-radius: 4px;
    text-shadow: 0px -1px 0px #333;
    font-size: 1em;
    color: white;
    padding: 12px 14px;
    cursor: pointer;
    background: url('../img/backgrounds/buttons.png') repeat-x scroll 0px -1200px transparent;
    background-color: #CC2C08;
}
.ag-button:hover {
    color: white;
    text-decoration: none;
    background-position: 0px -1250px;
}
.maroon {background-position: 0 -100px!important;}
.maroon:hover {background-position: 0 -150px!important;}
.ponceau {background-position: 0 -200px!important;}
.ponceau:hover {background-position: 0 -250px!important;}
.orange {background-position: 0 -300px!important;}
.orange:hover {background-position: 0 -350px!important;}
.gamboge {background-position: 0 -400px!important;}
.gamboge:hover {background-position: 0 -450px!important;}
.lemon {background-position: 0 -500px!important;}
.lemon:hover {background-position: 0 -550px!important;}
.olive {background-position: 0 -600px!important;}
.olive:hover {background-position: 0 -650px!important;}
.teal {background-position: 0 -700px!important;}
.teal:hover {background-position: 0 -750px!important;}
.cerulean {background-position: 0 -800px!important;}
.cerulean:hover {background-position: 0 -850px!important;}
.denim {background-position: 0 -900px!important;}
.denim:hover {background-position: 0 -950px!important;}
.brown {background-position: 0 -1000px!important;}
.brown:hover {background-position: 0 -1050px!important;}
.sepia {background-position: 0 -1100px!important;}
.sepia:hover {background-position: 0 -1150px!important;}



/*******************************************************************************
*
* Searchbox Autocomplete
*
*******************************************************************************/
.ui-autocomplete {
    z-index: 9999;
}
.ui-autocomplete > .ui-menu-item {
    font-family: 'Open Sans', sans-serif;
    color: #333;
}
.ui-autocomplete > .ui-menu-item a small {
    font-size: 65%;
    color: #888888;
}



/*******************************************************************************
*
* jQuery Colorbox
*
*******************************************************************************/
#cboxCurrent {
    visibility: hidden;
}


/*******************************************************************************
*
* Facebook overrides. Read more: http://stackoverflow.com/questions/6500424/is-it-possible-to-set-a-fluid-width-for-facebooks-social-plugins
*
*******************************************************************************/
.fb-comments,
.fb-comments > span,
.fb-comments iframe[style] {
    width: 100% !important;
}


